.logo {
    height: 34px;
    width: 34px;
    font-size: 34px;
    margin-right: 16px;
}

.header-content {
    padding: 0 36px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}