#app a {
    color: rgba(102,110,128,.87);
    outline-color: rgba(32, 35, 41, 0.87);
}

#app a:hover {
    color: rgba(62, 68, 80, 0.87);
}

#app button {
    background: rgba(102,110,128,.87);
    outline-color: rgba(32, 35, 41, 0.87);
}

#app button:hover {
    background: rgba(62, 68, 80, 0.87);
    cursor: pointer;
}