.content-wrapper {
    min-height: calc(100% - 40px);
    padding: 5%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-header {
    width: 100%;
    padding: 0 30px;
    word-break: break-word;
}

.header-right-block {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.ui.cards:first-child {
    margin-top: .875em;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-btn {
    margin: 0 !important;
    margin-left: 5px !important;
}

.search-input {
    width: 60%;
}

#app-content .message {
    margin-top: 40px;
}
#app-content .error {
    color: #d14d4d;
}

#app-loader {
    position: fixed;
}
