<nb-card size="medium" class="news-card">
    <nb-card-header>{{item.title}}</nb-card-header>
    <nb-card-header class="news-img-wrapper">
        <img src="{{item.urlToImage || noImageUrl}}" alt="news image" class="news-img">
    </nb-card-header>
    <nb-card-body>
      {{item.description}}
      <h4 class="news-source">{{item.source.name}}</h4>
      <button *ngIf="editable" nbButton shape="round" (click)="editItem()" class="app-btn">
        <i class="eva eva-edit-outline"></i>
        Edit
      </button>
    </nb-card-body>
    <nb-card-footer class="news-card-footer">
      {{item.publishedAt | date}}
      <a href="{{item.url}}">Read More</a>
    </nb-card-footer>
</nb-card>