<nb-tabset [routeParam]="'type'" (changeTab)="changeTab($event)">
    <nb-tab tabTitle="World News" [route]="'world'">
      <div class="tab-content">
        <div class="search-block">
            <app-search-bar (search)="search($event)"></app-search-bar>
        </div>
        <div *ngIf="news.length">
          <div class="content">
            <app-news-card
              *ngFor="let item of news"
              [item]="item"
              class="news-card-item">
            </app-news-card>
          </div>
          <button nbButton status="primary" class="load-btn app-btn" (click)="loadNews()">Load more</button>
        </div>
      </div>
    </nb-tab>
    <nb-tab tabTitle="My News" [route]="'my-news'">
        <div class="tab-content">
          <div class="search-block">
            <app-search-bar (search)="localSearch($event)"></app-search-bar>
            <button nbButton shape="round" routerLink="/create" class="add-btn app-btn">
              <i class="eva eva-plus-circle-outline"></i>
              Add
            </button>
          </div>
          <div class="content">
              <app-news-card
                *ngFor="let item of userNews | textFilter:localSearchText:'title'"
                [item]="item"
                [editable]="true"
                (edit)="editItem($event)"
                (delete)="deleteItem($event)"
                class="news-card-item">
              </app-news-card>
            </div>
        </div>
    </nb-tab>
</nb-tabset>