<nb-tabset>
    <nb-tab tabTitle="World News">
      <div class="tab-content">
        <div class="search-block">
          <input type="search" class="search-field" (keyup.enter)="search(searchInput.value)" nbInput shape="round" placeholder="Search..." #searchInput>
          <button nbButton shape="round" (click)="search(searchInput.value)">
            <i class="eva eva-search-outline"></i>
            Search
          </button>
        </div>
        <div *ngIf="news.length">
          <div class="content">
            <app-news-card
              *ngFor="let item of news"
              [item]="item"
              class="news-card-item">
            </app-news-card>
          </div>
          <button nbButton status="primary" class="load-btn" (click)="loadNews()">Load more</button>
        </div>
      </div>
    </nb-tab>
    <nb-tab tabTitle="My News">
        <div class="tab-content">
          <div class="search-block">
            <button nbButton shape="round" (click)="search(searchInput.value)" class="add-btn">
              <i class="eva eva-plus-circle-outline"></i>
              Add
            </button>
          </div>
        </div>
    </nb-tab>
</nb-tabset>